body{
background-color: #1D233D;
}

button:hover{
	color: lightblue;
	border-color: white;
	animation: ease-in;

}

img{
	max-height: 100px;
	max-width: 50px;
	padding-right: 40px;
	padding-top: 20px;

}

a:hover{
	color: lightblue;
}

h2:hover{
	color: lightblue;
}

p:hover{
	color: lightblue;
}

li{
	color: red;
}


p{
	color: white;
	font-family: Helvetica;
	padding: 20px;
}

h2{
	color: #FE303C;
	padding: 20px;
	font-family: Helvetica Neue;

}

ul{
	padding-right: 30px;
	color: white;
	font-family: Helvetica;
	margin-left: -60px;
}

a{
	color: #FE303C ;
}


button{
	border-style: solid;
	border-color: #FE303C;
	background-color: #1D233D;
	color: white;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 30px;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 020, 2400);
}

main{
box-shadow: 0 1px 3px 0px rgba(0, 0, 20, 2400);
padding: 30px;
border-radius: 25px;
padding-top: 15px;
}
