body{
background-color: #1D233D;
}

button:hover{
	color: lightblue;
	border-color: white;
	animation: ease-in;

}

img{
	max-height: 100px;
	max-width: 50px;
	padding-right: 40px;
	padding-top: 20px;

}

a:hover{
	color: lightblue;
}

li{
	color: red;
}


p{
	color: white;
	font-family: Helvetica;
	padding: 20px;
}

h2{
	color: #FE303C;
	padding: 20px;
	font-family: Helvetica Neue;

}

ul{
	padding-right: 30px;
	color: white;
	font-family: Helvetica;
	margin-left: -60px;
}

a{
	color: #FE303C ;
}


button{
	border-style: solid;
	border-color: #FE303C;
	background-color: #1D233D;
	color: white;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 30px;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 020, 2400);
}

main{
box-shadow: 0 1px 3px 0px rgba(0, 0, 20, 2400);
padding: 30px;
border-radius: 25px;
padding-top: 15px;
}

*{  
  margin:0;   
  color:white;  
 }  
 .title{  
  cursor:pointer;  
 }  
 /*Properties for Nav-bar*/  
 .navbar{  
  display:flex;  
  top:0;  
  height:10vh;  
  justify-content:space-between;  
  align-items:center;   
  padding:0px 20px;  
  background: #FE303C;  
  font-family: Helvetica;
 }  
 .nav-sub{  
  display:flex;  
  justify-content:space-between;  
 }  
 .list-item {  
  padding:10px;  
  list-style:none;  
 }  
 .nav-link{  
  color:white;  
  text-decoration:none;  
 }  
 /*Properties for Hamburger*/  
 .ham{  
  display:none;  
  padding:5px;  
  cursor:pointer;  
 }  
 .bar1,.bar2,.bar3{  
  display:block;  
  width:35px;  
  height:3px;  
  margin:5px auto;  
  background-color:#101010;  
  transition: 0.4s;  
 }  
 @media only screen and (max-width:768px){  
 *{  
   overflow:hidden;  
  }  
 .nav-sub{  
   position:absolute;   
   top:10vh;  
   right:0px;  
   flex-direction:column;  
   background-color:rgb(0,0,0,0.75);  
   border-radius:0px 0px 0px 20px;  
   transition:transform 0.3s ease-in;  
   transform:translate(100%);  
  }  
 .nav-change{  
   transform:translate(0%);  
  }  
 .ham{  
   display:block;  
  }  
 .change .bar1 {  
  transform: rotate(45deg) translate(8px,3px);  
 }  
 .change .bar2 {  
  opacity: 0;  
 }  
 .change .bar3 {  
  transform: rotate(-45deg) translate(8px,-3px);  
 }  
 }  
